h1 {
    color: blue;
    font-size: 28px;
}

.destacado {
    color: red;
    font-weight: bold;
}

#contenedor {
    border: 2px solid black;
    padding: 15px;
}

#contenedor p {
    color: green;
}

ul > li {
    list-style-type: square;
}

[type="text"] {
    border: 1px solid gray;
    padding: 5px;
}

li:first-child {
    color: purple;
}
